<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Login</title>
    <style>
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
    </style>
</head>

<body>

    {% extends "base.html" %}
    {% block title %}Login{% endblock %}

    {% block content %}

    <div class="d-flex justify-content-center align-items-center vh-100" style="transform: translateY(-50px);">
        <form method="POST" class="p-4 border rounded bg-white" style="min-width: 400px;">
            <h2 class="text-center mb-4">Login</h2>

            <div class="mb-3">
                <label>Email</label>
                <input type="email" name="email" class="form-control" required>
            </div>

            <div class="mb-3">
                <label>Password</label>
                <input type="password" name="password" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
    </div>

    {% endblock %}

</body>

</html>